//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 21 09:14:05 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "red<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "red<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "CLK_100M" LOCATE = SITE "V10" LEVEL 1;
COMP "green<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "green<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "vsync_pin" LOCATE = SITE "A12" LEVEL 1;
COMP "green<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "hsync_pin" LOCATE = SITE "B12" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "B11" LEVEL 1;
COMP "blue<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "red<0>" LOCATE = SITE "A9" LEVEL 1;
NET "m1/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

